<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
    <div class="content">
        <h1>Alessia Valentina</h1>
        <p class="major">Follow her Figure Skating Journey</p>
        <ul class="actions stacked">
            <li><a href="#first" class="button big wide smooth-scroll-middle">Get Started</a></li>
        </ul>
    </div>
    <div class="image">
        <img src="https://instagram.fzrh5-1.fna.fbcdn.net/v/t51.2885-19/428370136_1550439369086392_7048653605303300028_n.jpg?_nc_ht=instagram.fzrh5-1.fna.fbcdn.net&_nc_cat=104&_nc_ohc=3J5_jDq9sb0Q7kNvgH8Xr9C&edm=APHcPcMBAAAA&ccb=7-5&oh=00_AYDp7LkLvPOk8jM5DWujwucAyfr6G57XWmggCdCy7TmxKw&oe=66848942&_nc_sid=bef7bc" alt="Alessia Valentina's Latest Instagram Post" />
    </div>
</section>
